/*============ COLORS =========*/
body {
    background-color: #ebfaf5;
    color: #a43f9a;
}

aside {
    border:2px solid #a43f9a;
}

.logo {
    color: #97d5d0;
}

/*============ OTHER =========*/

body{
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

